<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script src="module2-solution/angular.min.js"></script>
    <script src="module2-solution/app.js"></script>
    <link rel="stylesheet" href="module2-solution/styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body ng-app='ShopingListCheckOff'>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyController as cntr1">
     <h2>To Buy:</h2>
     <ul >
       <li ng-repeat="item in cntr1.list">
       Buy {{item.quantity}} {{item.name}} <button class="btn btn-default" ng-click="cntr1.buttonfunction($index);"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
     </ul>
     <div class="emptyMessage" ng-if="cntr1.list.length==0">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController as cntr2">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in cntr2.list">Bought {{item.quantity}} {{item.name}}</li>
     </ul>
     <div class="emptyMessage" ng-if="cntr2.list.length==0">Nothing bought yet.</div>
    </div>
  </div>
</div>
</body>
</html>
